body {
  margin: 0;
}
* {
  font-family: Montserrat;
}

.css-1lseaq2-MuiChartsWrapper-root {
  height: 100%;
}
body {
  animation: gradient 15s ease infinite;
  background: linear-gradient(
    270deg,
    rgba(255, 0, 150, 0.1),
    rgba(0, 204, 255, 0.1),
    rgba(255, 255, 0, 0.1),
    rgba(255, 105, 180, 0.1),
    rgba(75, 0, 130, 0.1),
    rgba(0, 255, 127, 0.1),
    rgba(255, 165, 0, 0.1)
  );
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 100% 0%;
  }
  40% {
    background-position: 100% 100%;
  }
  60% {
    background-position: 0% 100%;
  }
  80% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
